<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="final_ui.Properties.Settings.ReportConnectionString"
            connectionString="Data Source=imperia\sqlexpress;Initial Catalog=Report;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="final_ui.Properties.Settings.AccountConnectionString"
            connectionString="Data Source=IMPERIA\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>